@{
    ViewData["Title"] = "خانه";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1>دسترسی پویا</h1>
            <p>
                توسط این سیستم میتوانید به هر کنترلر / اکشن ایی دسترسی بدهید.
            </p>
        </div>
    </div>
</div>
