@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1>شما به این صفحه دسترسی ندارید</h1>
        </div>
    </div>
</div>

